#EddieLiuPhoto {
    width: 200px;
    height: auto;
    border-radius: 40%;
    margin-top: 20px;
    margin-bottom: 10px;
}

#EddieLiuName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

#EddieLiuBio, #EddieLiuHobbies {
    font-size: 16px;
    line-height: 1.5;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
}